body {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: regular;
    font-family: PT Sans Regular, sans-serif;
}

/*HEADER*/

.main-header {
    background-color: whitesmoke;
    width: 1056px;
}

.container {
    width: 1200px;
    margin: 0 70px 0 70px;
}

.main-navigation {   
    width: 1200px;
    min-height: 55px;
}

.logo-small {
    position: absolute;
    top: 0px;
    left: 600px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Главная страница Логотип */

.logo-index {
    width: 465px;
    min-height: 365px;
    margin: 78px auto;
    background-color: lightgoldenrodyellow;
}

/* Главная страница описание */

.description {
    width: 1200px;
    min-height: 210px;
    background-color: azure;
    margin-bottom: 50px;
}

/* Главная страница Преимущества */

.features {
    width: 1200px;
    font-size: 0;
    text-align: center;
    margin-bottom: 60px;
    background-color: aliceblue;
}

.features-item-left {
    float:left;
    width: 400px;
    min-height: 256px;  
    background-color: #81b3d2;
}

.features-item-right {
    position: relative;
    float: left;
    width: 800px;
    min-height: 242px;
}

.features-first {
    width: 1200px;
    min-height: 330px;
    background-color: lightcyan;
    font-size: 0;
    vertical-align: middle;
    text-align: center;
}

.features-icon {    
    display: inline-block;
    width: 295px;
    min-height: 195px;    
    margin-left: 100px;
    background-color:  white;
}

.features-icon:first-child {
   margin-left: 72px;
}

.features-icon:last-child {
    margin-right: 72px;
}

.features-last {
    width: 1200px;
    min-height: 330px;
    margin: 0 auto;
    background-color: #eeeeee;
    font-size: 0;
    vertical-align: middle;
    text-align: center;    
}

.feature-white {
    display: inline-block;
    width: 250px;
    height: 175px;
    margin-right: 120px;
    background-color: lightslategray;
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 70px;
    vertical-align: top;
}

.feature-white:first-child {
    margin-left: 70px;
}

.feature-white:last-child {
    margin-right: 0;
}

.index-foto {
    margin-left: 0;
    margin-right: 0;
}

.feature-gray {
    display: inline-block;
    width: 250px;
    min-height: 175px;
    margin-right: 120px;
    margin-bottom: 23px;
    margin-top: 5px;
    background-color: lightslategray;
    font-size: 14px;
}

.feature-gray:first-child {
    margin-left: 70px;
}

.feature-gray:last-child {
    margin-right: 0;
}

.regform {
    background-color: beige;
    width: 575px;
    min-height: 660px;
    margin: 0 auto;
}

.location {
    width: 1200px;
    min-height: 473px;
}

/* hotels.html Фильтры */

.filters {
    width: 1200px;
    background-color: lightgray;    
}

.filter {
    float: left;
    width: 168px;
    min-height: 215px;
    margin-left: 72px;
    background-color: azure;
}

.filter-range {
    float: right;
    margin-right: 72px;
    width: 328px;
    min-height: 215px;
    background-color: azure;
}


/* hotels.html Кнопка вывода результата */
.btn-show {
    margin: 0 auto;
    margin-left: 96px;
    margin-top: 20px;
}

/* hotels.html  Отображение результатов поиска */

.search-result {
    width: 1128px;
    background-color: aliceblue;
    padding-top: 30px;
    min-height: 85px;
    font-size: 0;
}

.result {
    float: left;
    width: 125px;
    padding-right: 20px;    
    margin-left: 70px;
    margin-right: 35px;
    font-size: 21px;
}

.sorting {
    float: left;
    width: 376px;
    font-size: 12px;
    
}

.arrows {
    float: right;
    width: 80px;
    font-size: 12px;
}

/* hotels.html  Основное содержание */

.hotels {
    margin: 0 auto;
}

.hotel {
    width: 1200px;
    min-height: 150px;
    font-size: 0;
    padding-top: 30px;
    border-bottom: 1px solid #e5e5e5;
        
}

.hotel:first-child {
    border-top: 1px solid #e5e5e5;
}

figure {
    float: left;
    width: 135px;
    min-height: 90px;
}

.hotel-info {
    float: left;
    width: 270px;
    min-height: 90px;
    background-color: aliceblue;
    font-size: 14px;
}

.mark {
    float: right;    
    width: 125px;
    min-height: 90px;
    padding-right: 72px;
    background-color: lightgoldenrodyellow;
}

/* FOOTER */

footer {
    width: 1056px;
    background-color: beige;
}

.footer-contacts {
    float: left;
    min-height: 120px;
    width: 240px;
    background-color: burlywood;
    margin-right: 88px;
}

.footer-social {
    float: left;
    width: 400px;
    min-height: 120px;
    background-color: burlywood;
}

.footer-copyright {
    float: right;
    min-height: 120px;
    width: 240px;
    background-color: burlywood;
}



li {
    list-style: none;
    padding-left: 0;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: PT Sans, sans-serif;
    text-transform: uppercase;
}

.features-name {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: PT Sans, sans-serif;
    text-transform: uppercase;
}
